* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  /* min-height: 100vh;
  width: 100%; */
  background-color: rgb(50, 228, 202);
  /* overflow: hidden; */
}

#canvas-1 {
  background-color: rgb(0, 184, 217);
}

#canvas-2 {
  border: solid;
  margin: 10px;
}

#canvas-3 {
  /* height: 400px;
  width: 400px; */
  background-color: silver;
}

#canvas-4 {
  background-color: pink;
}

#canvas-5 {
  background-color: rgb(10, 206, 213);
}

#canvas-6 {
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#canvas-7 {
  background-color: rgb(248, 137, 222);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#canvas-8 {
  border: 5px dotted rgb(242, 124, 61);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
